<div class="navbar">
  <div class="nav-logo">
    <h1>Quiz App</h1>
  </div>
  <div class="nav-links">
    <button class="logout-button" (click)="onLogout()">Logout</button>
  </div>
</div>


<div class="quiz-container">
  <h2>Welcome, {{ username }}</h2>
  <h3>Quiz</h3>
  <div *ngFor="let question of quizData; let i = index" class="question-block">
    <p class="question-number">Question {{ i + 1 }}</p>
    <p>{{ question.text }}</p>
    <ol class="options-list">
      <li>
        <label class="option-label">
          <input type="radio" name="question-{{ question.id }}" value="option_1" (change)="onAnswerChange(question.id, question.option_1)" /> {{ question.option_1 }}
        </label>
      </li>
      <li>
        <label class="option-label">
          <input type="radio" name="question-{{ question.id }}" value="option_2" (change)="onAnswerChange(question.id, question.option_2)" /> {{ question.option_2 }}
        </label>
      </li>
      <li>
        <label class="option-label">
          <input type="radio" name="question-{{ question.id }}" value="option_3" (change)="onAnswerChange(question.id, question.option_3)" /> {{ question.option_3 }}
        </label>
      </li>
      <li>
        <label class="option-label">
          <input type="radio" name="question-{{ question.id }}" value="option_4" (change)="onAnswerChange(question.id, question.option_4)" /> {{ question.option_4 }}
        </label>
      </li>
    </ol>
  </div>
  <button (click)="onSubmit()" class="submit-button">Submit</button>
</div>