<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="first_name">First Name:</label>
        <input id="first_name" formControlName="first_name" type="text" />
      </div>
  
      <div>
        <label for="last_name">Last Name:</label>
        <input id="last_name" formControlName="last_name" type="text" />
      </div>
  
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" />
      </div>
  
      <div>
        <label for="username">Username:</label>
        <input id="username" formControlName="username" type="text" />
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password" />
      </div>
  
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
  
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
  
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  